@import "main";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;

  main {
    background-color: $bg-color;
    overflow: hidden;

    height: 100%;

    display: grid;
    grid-template-columns: 25% 100vh 25%;

    #container {
      position: relative;
      height: 100vh;
      width: 100vh;

      #notifications {
        position: absolute;

        div {
          @include interaction-style;
          background-color: $bg-color;

          margin: 0;
          width: 100vh;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            text-align: center;
          }
        }
      }
    }

    section {

      nav {
        display: flex;
        flex-flow: column;
      }

      header {
        justify-self: flex-start;
      }

      table {
        font-size: 1.5em;

        td {
          padding: 10px;

          &:first-child {
            line-height: 0;
          }
        }

      }

      background-color: $bg-color;

      color: white;
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
  }
}
