@import "main";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;

  main {
    background-color: black;

    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    #container {
      height: 100vh;
      width: 100vh;
    }

    section {

      nav {
        display: flex;
        flex-flow: column;
      }
      header {
        justify-self: flex-start;
      }

      background-color: $bg-color;

      color: white;
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}
