@import "../../styles/main";

footer#notifications {
  user-select: none;
  width: 100%;

  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  flex-flow: column-reverse;

  p {
    @include interaction-style;
  }
}
